<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcyjtz.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.lcyjtz.entity.Menu">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
        <result column="URI" property="uri" jdbcType="VARCHAR"/>
        <result column="ICON" property="icon" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="DISABLED" property="disabled" jdbcType="BIT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, MENU_NAME, URI, ICON, PARENT_ID, DISABLED
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lcyjtz.entity.MenuExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="getAllMenuList" resultMap="BaseResultMap" parameterType="java.lang.String">
     SELECT a.ID,a.MENU_NAME,a.URI,a.ICON,a.PARENT_ID,a.DISABLED from menu a, rolemenu b , power c where c.powertype=#{roleName} AND a.ID = b.MENU_ID AND c.powerid = b.ROLE_ID
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from menu
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.lcyjtz.entity.MenuExample">
        delete from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.lcyjtz.entity.Menu">
    insert into menu (ID, MENU_NAME, URI, 
      ICON, PARENT_ID, DISABLED
      )
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{disabled,jdbcType=BIT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.lcyjtz.entity.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="menuName != null">
                MENU_NAME,
            </if>
            <if test="uri != null">
                URI,
            </if>
            <if test="icon != null">
                ICON,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="disabled != null">
                DISABLED,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="uri != null">
                #{uri,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="disabled != null">
                #{disabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.lcyjtz.entity.MenuExample" resultType="java.lang.Integer">
        select count(*) from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update menu
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.menuName != null">
                MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
            </if>
            <if test="record.uri != null">
                URI = #{record.uri,jdbcType=VARCHAR},
            </if>
            <if test="record.icon != null">
                ICON = #{record.icon,jdbcType=VARCHAR},
            </if>
            <if test="record.parentId != null">
                PARENT_ID = #{record.parentId,jdbcType=INTEGER},
            </if>
            <if test="record.disabled != null">
                DISABLED = #{record.disabled,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update menu
        set ID = #{record.id,jdbcType=INTEGER},
        MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
        URI = #{record.uri,jdbcType=VARCHAR},
        ICON = #{record.icon,jdbcType=VARCHAR},
        PARENT_ID = #{record.parentId,jdbcType=INTEGER},
        DISABLED = #{record.disabled,jdbcType=BIT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.lcyjtz.entity.Menu">
        update menu
        <set>
            <if test="menuName != null">
                MENU_NAME = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="uri != null">
                URI = #{uri,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                ICON = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                PARENT_ID = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="disabled != null">
                DISABLED = #{disabled,jdbcType=BIT},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lcyjtz.entity.Menu">
    update menu
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      URI = #{uri,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      DISABLED = #{disabled,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>