<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcyjtz.mapper.PowerMapper">
    <resultMap id="BaseResultMap" type="com.lcyjtz.entity.Power">
        <id column="powerid" property="powerid" jdbcType="INTEGER"/>
        <result column="powertype" property="powertype" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    powerid, powertype
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lcyjtz.entity.PowerExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from power
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from power
        where powerid = #{powerid,jdbcType=INTEGER}
    </select>
    <select id="getRoleList" resultType="com.lcyjtz.dto.RoleListDTO">
       select a.powertype as roleName, count(a.powertype) as total FROM power a GROUP BY a.powerid
  </select>

    <select id="SelectRoleID" parameterType="com.lcyjtz.entity.PowerExample" resultType="java.lang.Integer">
        select RoleID from power a,  rolepower b where a.powertype=#{powerType,jdbcType=VARCHAR} and a.powerid= b.powerID
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from power
    where powerid = #{powerid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.lcyjtz.entity.PowerExample">
        delete from power
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.lcyjtz.entity.Power">
    insert into power (powerid, powertype)
    values (#{powerid,jdbcType=INTEGER}, #{powertype,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.lcyjtz.entity.Power">
        insert into power
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="powerid != null">
                powerid,
            </if>
            <if test="powertype != null">
                powertype,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="powerid != null">
                #{powerid,jdbcType=INTEGER},
            </if>
            <if test="powertype != null">
                #{powertype,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.lcyjtz.entity.PowerExample" resultType="java.lang.Integer">
        select count(*) from power
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update power
        <set>
            <if test="record.powerid != null">
                powerid = #{record.powerid,jdbcType=INTEGER},
            </if>
            <if test="record.powertype != null">
                powertype = #{record.powertype,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update power
        set powerid = #{record.powerid,jdbcType=INTEGER},
        powertype = #{record.powertype,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.lcyjtz.entity.Power">
        update power
        <set>
            <if test="powertype != null">
                powertype = #{powertype,jdbcType=VARCHAR},
            </if>
        </set>
        where powerid = #{powerid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lcyjtz.entity.Power">
    update power
    set powertype = #{powertype,jdbcType=VARCHAR}
    where powerid = #{powerid,jdbcType=INTEGER}
  </update>
</mapper>